{
    "presets": [[
        "env", {
          "targets": {
            "node": "current"
          }
        }
      ]],
    "plugins": [
      "transform-export-default",
      "transform-object-rest-spread"
    ]
  }